@import url('reset.css');
@import url('menu.css');
body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align: center;
    background-color: #EEEEEE;
}

#contenedor {
    width: 1005px;
    min-height: 700px;
    height: auto !important;
    height: 700px;
    margin: auto;
    text-align: left;
    background-color: #FFFFFF;
}

#cabecera {
    position: relative;
    clear: both;
    width: 100%;
    height: 116px;
    padding-top: 24px;
    overflow: hidden;
}

#cabecera h1 {
    float: left;
    width: 616px;
    height: 93px;
    margin-left: 18px;
    background-image: url(../img/logo_aulacerveza.png);
    background-repeat: no-repeat;
}

#cabecera h1 a {
    text-indent: -9999px;
    width: 616px;
    height: 93px;
    display: block;
}

#validacion {
    float: left;
    width: 371px;
    height: 116px;
}

#idiomas {
    float: right;
    width: 310px;
    height: 50px;
    text-align: right;
    margin: 0px 22px 0px 0px;
}

#idiomas ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#idiomas ul li {
    display: inline-block;
    color: #9c3403;
    font-size: 0.9em;
    padding: 0 1px 0 1px;
}

#idiomas ul li a {
    color: #9c3403;
    font-size: 0.9em;
    text-decoration: none;
}

#idiomas ul li a:hover {
    color: #000000;
}

#registro {
    float: right;
    width: 310px;
}

#registro .formulario {
    float: left;
    width: 155px;
    height: auto;
}

#registro .formulario p {
    float: left;
    color: #9c3403;
    font-size: 0.9em;
}

#registro .formulario p a {
    float: left;
    color: #9c3403;
    font-size: 0.9em;
    text-decoration: none;
}

#registro .formulario p a:active {
    color: #000000;
}

#registro label {
    float: left;
    width: 65px;
    color: #9c3403;
    font-size: 0.85em;
    margin-top: 4px;
}

#registro input[type='text'] {
    float: left;
    color: #9c3403;
    font-size: 0.85em;
    width: 80px;
    height: 13px;
    border: 1px solid #9c3403;
    margin-bottom: 3px;
    padding: 2px;
    box-shadow: 2px 2px 1px #efefef;
}

#registro input[type='password'] {
    float: left;
    color: #9c3403;
    font-size: 0.85em;
    width: 80px;
    height: 13px;
    border: 1px solid #9c3403;
    padding: 2px;
    box-shadow: 2px 2px 1px #efefef;
}

#registro button {
    background-color: #9c3403;
    color: #FFFFFF;
    border: 0px;
    font-size: 0.85em;
    font-weight: bold;
    margin-left: 17px;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
}

#registro button:active {
    background-color: #000000;
}

#registro .usuarioregistrado {
    float: right;
    width: 100%;
    height: auto;
    margin: 0 20px 5px 5px;
    text-align: right;
}

#registro .usuarioregistrado ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
}

#registro .usuarioregistrado ul li {
    display: inline;
    padding: 0 2px 0 2px;
    color: #9c3403;
    font-weight: normal;
    font-size: 0.9em;
}

#registro .usuarioregistrado ul li a {
    color: #9c3403;
    font-weight: normal;
    text-decoration: none;
}

#registro .usuarioregistrado ul li span {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}

#registro .usuarioregistrado ul.modificar {
    list-style-type: none;
    margin-top: -10px;
}

#registro .usuarioregistrado ul.modificar li {
    display: inline;
    padding: 0 2px 0 2px;
    color: #9c3403;
    font-weight: normal;
    font-size: 0.9em;
}

#registro .usuarioregistrado ul.modificar li a {
    color: #9c3403;
    font-weight: normal;
    text-decoration: none;
}

#registro .usuarioregistrado ul.modificar li a:active {
    color: #000000;
}

nav#navegacion {
    clear: both;
    width: 100%;
    height: 40px;
    background-color: #000000;
}

section#contenido {
    float: left;
    width: 100%;
    min-height: 520px;
    height: auto !important;
    height: 520px;
    background-color: #ffffff;
}

section#galeria {
    float: left;
    width: 100%;
    height: auto;
}

section#galeria article {
    float: left;
    width: 335px;
    height: auto;
    padding: 40px 0 0 0;
}

section#galeria article a {
    display: block;
    text-decoration: none;
}

section#galeria article.izquierda {
    background-color: #f99900;
}

section#galeria article.izquierda .homedestacado h2 {
    color: #f99900;
}

section#galeria article.centro {
    background-color: #993403;
}

section#galeria article.centro .homedestacado h2 {
    color: #993403;
}

section#galeria article.derecha {
    background-color: #e85420;
}

section#galeria article.derecha .homedestacado h2 {
    color: #e85420;
}

section#galeria article figure figcaption {
    display: none;
}

section#galeria article figure img {
    width: 335px;
    height: 304px;
}

.homedestacado {
    width: 100%;
    background-color: #ffffff;
    margin-top: -4px;
}

.homedestacado>h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 8px;
}

.homedestacado>h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.5em;
    font-weight: bold;
}

.homedestacado>p {
    font-size: 1.15em;
    font-weight: normal;
    color: #000000;
}

#imprimecomparte {
    float: right;
    width: 100%;
    height: 30px;
    clear: both;
}

#imprimecomparte ul {
    list-style-image: url(../img/icono_lista.png);
    margin: 0;
}

#imprimecomparte ul li {
    float: right;
    font-size: 1.1em;
    margin-right: 25px;
    padding-top: 6px;
}

#imprimecomparte ul li a {
    font-size: 100%;
    color: #000000;
    text-decoration: none;
}

#quienes-somos {
    float: left;
    width: 965px;
    padding: 20px 20px;
}

#quienes-somos figure {
    float: left;
    width: 450px;
    height: auto;
    background: url(../images/quienes-somos/marca.png) top right no-repeat;
    margin: 0 20px 0 0;
}

#quienes-somos figure>figcaption {
    display: none;
}

#quienes-somos figure>img {
    width: 400px;
    height: 380px;
}

#quienes-somos article {
    float: left;
    width: 100%;
}

#quienes-somos article>div.textos {
    float: left;
    width: 495px;
    height: auto;
}

#quienes-somos article>div.textos h2 {
    font-size: 1.6em;
    color: #9c3403;
}

#quienes-somos article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#quienes-somos article>div.textos strong {
    color: #9c3403;
}

#quienes-somos article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#quienes-somos article>div.textos ul {
    list-style-image: url(../images/quienes-somos/icono-lista-quienes.png);
    margin: 0 0 0 3px;
}

#quienes-somos article>div.textos li {
    font-size: 1.1em;
    color: #000000;
    line-height: 16px;
    padding-bottom: 4px;
}

#quienes-somos article>div.textos li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#recursos {
    float: left;
    width: 965px;
    padding: 20px 20px;
}

#recursos figure {
    float: left;
    width: 430px;
    height: auto;
    margin: 0;
}

#recursos figure>figcaption {
    display: none;
}

#recursos figure>img {
    width: 400px;
    height: 380px;
}

#recursos article {
    float: left;
    width: 100%;
}

#recursos article>div.textos {
    float: left;
    width: 515px;
    min-height: 395px;
    height: auto !important;
    height: 395px;
}

#recursos article>div.textos h2 {
    font-size: 1.6em;
    color: #9c3403;
    margin-bottom: 10px;
}

#recursos article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#recursos article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#recursos article>div.textos strong {
    color: #9c3403;
}

#recursos article>div.textos ul {
    list-style-image: url(../images/recursos/icono-lista-recursos.png);
    margin: 0;
}

#recursos article>div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 10px;
}

#recursos article>div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#recursos>div.navegacion {
    float: right;
    width: 300px;
    margin: 0 29px 0 5px;
    text-align: right;
}

#recursos>div.navegacion ul {
    list-style-type: none;
}

#recursos>div.navegacion li.anterior {
    display: inline-block;
    background-image: url(../images/recursos/volver.png);
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
}

#recursos>div.navegacion li.anterior>a {
    color: #000000;
    text-decoration: none;
    padding-left: 20px;
}

#recursos>div.navegacion li.siguiente {
    display: inline-block;
    background-image: url(../images/recursos/siguiente.png);
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    margin-left: 30px;
}

#recursos>div.navegacion li.siguiente>a {
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
}

#recursos>div.navegacion li.desactivado {
    display: none;
}

#recurso {
    float: left;
    padding: 0 40px 0 20px;
}

#recurso figure {
    float: left;
    width: 300px;
    height: auto;
    margin: 0 20px 0 0;
}

#recurso figure>figcaption {
    display: none;
}

#recurso figure>img {
    width: 280px;
    height: 265px;
}

#recurso article>div.textos {
    float: left;
    width: 585px;
    min-height: 400px;
    height: auto !important;
    height: 400px;
}

#recurso article>div.textos h2 {
    font-size: 1.6em;
    color: #e85420;
    margin-bottom: 10px;
}

#recurso article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#recurso article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#recurso article>div.textos strong {
    color: #e85420;
}

#recurso article>div.textos ul {
    list-style-image: url(../images/recursos/icono-lista-recursos.png);
    margin: 0;
}

#recurso article>div.textos ol li {
    font-size: 1.1em;
    color: #000000;
    line-height: 16px;
    padding-bottom: 4px;
}

#recurso article>div.textos ol li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#recurso article>div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 4px;
}

#recurso article>div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#recurso article div.navegacion {
    float: right;
    text-align: right;
}

#recurso article div.navegacion ul {
    list-style-type: none;
    background-image: url(../images/recursos/volver.png);
    background-repeat: no-repeat;
    background-position: center left;
    margin: 8px 0 0 0;
    padding: 0 0 0 20px;
}

#recurso article div.navegacion ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
}

#recurso article div.navegacion ul li>a {
    color: #000000;
    text-decoration: none;
}

#recetas {
    float: left;
    width: 965px;
    padding: 20px 20px;
}

#recetas figure {
    float: left;
    width: 430px;
    height: auto;
    margin: 0;
}

#recetas figure>figcaption {
    display: none;
}

#recetas figure>img {
    width: 400px;
    height: 380px;
}

#recetas article {
    float: left;
    width: 100%;
}

#recetas article>div.textos {
    float: left;
    width: 515px;
    min-height: 395px;
    height: auto !important;
    height: 395px;
}

#recetas article>div.textos h2 {
    font-size: 1.6em;
    color: #0077be;
    margin-bottom: 10px;
}

#recetas article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#recetas article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#recetas article>div.textos strong {
    color: #0077be;
}

#recetas article>div.textos ul {
    list-style-image: url(../images/recetas/icono-lista-recetas.png);
    margin: 0;
}

#recetas article>div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 10px;
}

#recetas article>div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#recetas>div.navegacion {
    float: right;
    width: 300px;
    margin: 0 29px 0 5px;
    text-align: right;
}

#recetas>div.navegacion ul {
    list-style-type: none;
}

#recetas>div.navegacion li.anterior {
    display: inline-block;
    background-image: url(../images/recetas/volver.png);
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
}

#recetas>div.navegacion li.anterior>a {
    color: #000000;
    text-decoration: none;
    padding-left: 20px;
}

#recetas>div.navegacion li.siguiente {
    display: inline-block;
    background-image: url(../images/recetas/siguiente.png);
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    margin-left: 30px;
}

#recetas>div.navegacion li.siguiente>a {
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
}

#recetas>div.navegacion li.desactivado {
    display: none;
}

#receta {
    float: left;
    padding: 0 40px 0 20px;
}

#receta figure {
    float: left;
    width: 300px;
    height: auto;
    margin: 0 20px 0 0;
}

#receta figure>figcaption {
    display: none;
}

#receta figure>img {
    width: 280px;
    height: 265px;
}

#receta article>div.textos {
    float: left;
    width: 585px;
    min-height: 400px;
    height: auto !important;
    height: 400px;
}

#receta article>div.textos h2 {
    font-size: 1.6em;
    color: #0077be;
}

#receta article>div.textos h3 {
    font-size: 1.1em;
    color: #0077be;
    margin-left: 8px;
}

#receta article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#receta article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#receta article>div.textos strong {
    color: #0077be;
}

#receta article>div.textos ol {
    padding-left: 10px;
    list-style: inside;
    margin: 0;
}

#receta article>div.textos ol li {
    list-style-type: decimal;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 4px;
}

#receta article>div.textos ol li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#receta article>div.textos ul {
    list-style-image: url(../images/recetas/icono-lista-recetas.png);
    margin: 0;
}

#receta article>div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 4px;
}

#receta article>div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#receta article div.navegacion {
    float: right;
    text-align: right;
}

#receta article div.navegacion ul {
    list-style-type: none;
    background-image: url(../images/recetas/volver.png);
    background-repeat: no-repeat;
    background-position: center left;
    margin: 8px 0 0 0;
    padding: 0 0 0 20px;
}

#receta article div.navegacion ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
}

#receta article div.navegacion ul li>a {
    color: #000000;
    text-decoration: none;
}

#videos {
    float: left;
    width: 965px;
    padding: 20px 20px;
}

#videos figure {
    float: left;
    width: 430px;
    height: auto;
    margin: 0;
}

#videos figure>figcaption {
    display: none;
}

#videos figure>img {
    width: 400px;
    height: 380px;
}

#videos article {
    float: left;
    width: 100%;
}

#videos article>div.textos {
    float: left;
    width: 515px;
    height: auto;
}

#videos article>div.textos h2 {
    font-size: 1.6em;
    color: #6b3b77;
}

#videos article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#videos article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#videos article>div.textos strong {
    color: #6b3b77;
}

#videos article>div.textos ul {
    list-style-image: url(../images/videos/icono-lista-videos.png);
    margin: 5px 0 5px 2px;
}

#videos article>div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 4px;
}

#videos article>div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#videos article>div.youtube {
    float: right;
    width: 200px;
    background-color: #6b3b77;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
    margin: 10px 330px 0 0;
}

#videos article>div.youtube:active {
    background-color: #000000;
}

#videos article>div.youtube a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

#formulas {
    float: left;
    width: 965px;
    padding: 20px 20px;
}

#formulas figure {
    float: left;
    width: 430px;
    height: auto;
    margin: 0;
}

#formulas figure>figcaption {
    display: none;
}

#formulas figure>img {
    width: 400px;
    height: 380px;
}

#formulas article {
    float: left;
    width: 100%;
}

#formulas article>div.textos {
    float: left;
    width: 515px;
    height: auto;
}

#formulas article>div.textos h2 {
    font-size: 1.6em;
    color: #a8140f;
    margin-bottom: 10px;
}

#formulas article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#formulas article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#formulas article>div.textos strong {
    color: #a8140f;
}

#formulas article>div.textos ul {
    list-style-image: url(../images/formulas/icono-lista-formulas.png);
    margin: 0;
}

#formulas article>div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 4px;
}

#formulas article>div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#formulas>div.navegacion {
    float: right;
    width: 300px;
    margin: 0 29px 0 5px;
    text-align: right;
}

#formulas>div.navegacion ul {
    list-style-type: none;
}

#formulas>div.navegacion li.siguiente {
    display: inline-block;
    background-image: url(../images/formulas/siguiente.png);
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    margin-left: 30px;
}

#formulas>div.navegacion li.siguiente>a {
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
}

#formulas>div.mensajes p {
    clear: both;
    float: right;
    font-size: 0.90em;
    color: #a8140f;
    padding: 5px 30px 0 0;
}

#foros {
    float: left;
    width: 965px;
    padding: 20px 20px;
}

#foros figure {
    float: left;
    width: 430px;
    height: auto;
    margin: 0;
}

#foros figure>figcaption {
    display: none;
}

#foros figure>img {
    width: 400px;
    height: 380px;
}

#foros article {
    float: left;
    width: 100%;
}

#foros article>div.textos {
    float: left;
    width: 515px;
    height: auto;
}

#foros article>div.textos h2 {
    font-size: 1.6em;
    color: #b2bd34;
    margin-bottom: 10px;
}

#foros>#foro article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#foros article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#foros article>div.textos strong {
    color: #b2bd34;
}

#foros article>div.textos ul {
    list-style-image: url(../images/foros/icono-lista-foros.png);
    margin: 0;
}

#foros article>div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 10px;
}

#foros article>div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#foros>div.navegacion {
    float: right;
    width: 300px;
    margin: 0 29px 0 5px;
    text-align: right;
}

#foros>div.navegacion ul {
    list-style-type: none;
}

#foros>div.navegacion li.anterior {
    display: inline-block;
    background-image: url(../images/foros/volver.png);
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
}

#foros>div.navegacion li.anterior>a {
    color: #000000;
    text-decoration: none;
    padding-left: 20px;
}

#foros>div.navegacion li.siguiente {
    display: inline-block;
    background-image: url(../images/foros/siguiente.png);
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    margin-left: 30px;
}

#foros>div.navegacion li.siguiente>a {
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
}

#foros>div.navegacion li.desactivado {
    display: none;
}

#foros>#foro {
    float: left;
    width: 90%;
    min-height: 365px;
    margin: 0 30px 0 30px;
}

#foros>#foro>header {
    float: left;
    width: 100%;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #9c3403;
}

#foros>#foro>header #mensaje {
    float: left;
    width: 80%;
    color: #b2bd34;
    font-weight: bold;
}

#foros>#foro>header #fecha {
    float: left;
    width: 20%;
    color: #b2bd34;
    font-weight: bold;
    text-align: right;
}

#foros>#foro>#titulares {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

#foros>#foro>#titulares #nombreusuario {
    float: left;
    width: 20%;
    color: #b2bd34;
    font-weight: bold;
}

#foros>#foro>#titulares #mensajeusuario {
    float: left;
    width: 80%;
    color: #b2bd34;
    font-weight: bold;
}

#foros>#foro #titularforo {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
    margin: 0;
}

#foros>#foro #titularforo>#titulo {
    float: left;
    width: 80%;
}

#foros>#foro #titularforo>#fechaforo {
    float: left;
    width: 20%;
    text-align: right;
}

#foros>#foro #titularforo>#titulo h2 {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#foros>#foro #titularforo>#fechaforo h2 {
    font-size: 1em;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

#foros>#foro article {
    float: left;
    width: 100%;
}

#foros>#foro article .usuario {
    float: left;
    width: 20%;
    margin: 5px 0 10px 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #b2bd34;
    color: #9c3403;
}

#foros>#foro article .usuario p {
    margin: 0;
    padding: 0;
}

#foros>#foro article .usuario p.user {
    color: #9c3403;
}

#foros>#foro article .usuario p.date {
    color: #000000;
    font-size: 0.90em;
    margin-top: 3px;
}

#foros>#foro article .comentario {
    float: left;
    width: 80%;
    margin: 5px 0 10px 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #b2bd34;
}

#foros>#foro article .sincomentarios {
    float: left;
    width: 100%;
    margin: 5px 0 10px 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #b2bd34;
    color: #9c3403;
}

#foros>#foro article .comentario p {
    margin: 0;
    padding: 0 0 10px 0;
}

#foros>#foro article .comentario ul {
    margin: 0;
    padding: 0 0 10px 15px;
    list-style-type: disc;
}

#foros>#foro article .comentario ol {
    margin: 0;
    padding: 0 0 10px 20px;
}

#foros>#foro article .fechacomentario {
    float: left;
    width: 100%;
    text-align: right;
    font-size: 0.90em;
}

#foros>#foro>.comentariosdelforo {
    float: left;
    width: 100%;
    height: auto;
    margin: 15px 0 10px 0;
    border: 1px solid #b2bd34;
}

#foros>#foro>.comentariosdelforo.formulario {
    float: left;
    width: 100%;
    height: auto;
    margin: 15px 0 10px 0;
    border: none;
}

#foros>#foro>.comentariosdelforo p {
    margin: 5px 0;
}

#foros>#foro>.comentariosdelforo p:empty {
    display: none;
}

#foros>#foro>.comentariosdelforo a {
    color: #b2bd34;
    font-weight: bold;
    text-decoration: none;
}

#foros>#foro>.comentariosdelforo button {
    background-color: #b2bd34;
    color: #FFFFFF;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    float: left;
    margin: 10px 0 0 5px;
}

#foros>#foro>.comentariosdelforo button:active {
    background-color: #000000;
}


/* paginacion contenidos foros */

#foros>#paginacion {
    float: left;
    width: 100%;
    padding: 15px auto;
    text-align: center;
}

#foros>#paginacion ul li {
    display: inline;
    font-size: 1em;
    padding: 2px 3px 2px 3px;
    margin: 0 2px 0 2px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #ffffff;
}

#foros>#paginacion ul li.desactivado {
    color: #d2d2de;
}

#foros>#paginacion ul li.paginate:hover {
    font-size: 1em;
    color: #000000;
    border: 1px solid #b2bd34;
}

#foros>#paginacion ul li.paginate.sel {
    font-size: 1em;
    color: #000000;
    border: 1px solid #b2bd34;
}

#foros>#paginacion ul li>a {
    font-size: 1em;
    color: #000000;
    text-decoration: none;
}

#foros>#paginacion ul li>a.navegacion {
    color: #000000;
    text-decoration: none;
}


/* fin paginacion contenidos foros */

#blog {
    float: left;
    width: 965px;
    padding: 20px 20px;
}

#blog #bloger {
    float: left;
    width: 515px;
    height: auto;
    margin: 0 0 20px 60px;
}

#blog #bloger article {
    float: left;
    /*width:485px;*/
    height: auto;
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #efefef;
}

#blog #bloger article:last-of-type {
    float: left;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
    border: 0px;
}

#blog #bloger article.foro {
    float: left;
    height: auto;
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
    border: none;
}

#blog #bloger article figure {
    float: left;
    width: 500px;
    height: auto;
    padding-left: 9px;
}

#blog #bloger article figure>figcaption {
    display: none;
}

#blog #bloger article figure img {
    width: 500px;
    /*height:550px;*/
}

#blog #bloger article header>h2 {
    font-size: 1.6em;
    color: #49997d;
}

#blog #bloger article header>h2 a {
    color: #49997d;
    text-decoration: none;
}

#blog #bloger article div.textos {
    float: left;
    width: 515px;
    height: auto;
}

#blog #bloger article div.textos h2 {
    font-size: 1.2em;
    padding-left: 8px;
    color: #49997d;
}

#blog #bloger article div.textos h3 {
    font-size: 1.2em;
    padding-left: 8px;
    color: #49997d;
}

#blog #bloger article div.textos h4 {
    font-size: 1.2em;
    padding-left: 8px;
    color: #49997d;
}

#blog #bloger article div.textos h5 {
    font-size: 1.2em;
    padding-left: 8px;
    color: #49997d;
}

#blog #bloger article div.textos h6 {
    font-size: 1.2em;
    padding-left: 8px;
    color: #49997d;
}

#blog #bloger article div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#blog #bloger article div.textos a {
    color: #000000;
    text-decoration: underline;
}

#blog #bloger article div.textos strong {
    color: #49997d;
}

#blog #bloger article div.textos ul {
    list-style-image: url(../images/blog/icono-lista-blog.png);
    margin: 0;
}

#blog #bloger article div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 10px;
}

#blog #bloger article div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#blog #bloger article div.textos ol li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 0px;
}

#blog #bloger article div.textos ol li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#blog #bloger article div.textos>div.vermas {
    float: right;
    margin: 5px 0 5px 0;
}

#blog #bloger article div.textos>div.vermas a {
    font-size: 1.1em;
    color: #49997d;
    text-decoration: none;
}

#blog #bloger article div.textos>div.vermas a:hover {
    font-size: 1.1em;
    color: #333333;
    text-decoration: none;
}

#blog #bloger article footer {
    text-align: right;
    font-size: 1em;
    color: #333333;
    font-weight: 500;
    text-decoration: none;
    clear: both;
    /*margin:0;*/
    padding: 15px 0 0 0;
}

#blog>aside {
    float: left;
    width: 380px;
    height: auto;
    margin: 0;
}

#blog>aside>#ultimos {
    float: left;
    width: 320px;
    height: auto;
    margin: 0 0 0 20px;
    clear: both;
}

#blog>aside>#ultimos ul#actuales {
    list-style-image: url(../images/blog/icono-lista-abierto.png);
    margin: 0;
}

#blog>aside>#ultimos ul#actuales.sel {
    list-style-image: url(../images/blog/icono-lista-cerrado.png);
    margin: 0;
}

#blog>aside>#ultimos ul#actuales a {
    color: #000000;
    text-decoration: none;
}

#blog>aside>#ultimos ul#actuales a:hover {
    color: #49997d;
    text-decoration: none;
}

#blog>aside>#ultimos ul#actuales>li>a {
    font-weight: bold;
}

#blog>aside>#ultimos ul#actuales li ul {
    margin: 0;
}

#blog>aside>#ultimos ul#actuales li ul.ocultar {
    display: none;
}

#blog>aside>#ultimos ul#actuales li {
    padding: 2px 0 2px 0;
}

#blog>aside>#ultimos ul#actuales li ul li {
    list-style-image: url(../images/blog/icono-lista-entradas.png);
    margin: 0;
}

#blog>aside>#historico {
    float: left;
    width: 320px;
    height: auto;
    margin: 25px 0 0 20px;
    clear: both;
}

#blog>aside>#historico h3 {
    font-size: 1em;
    margin: 0 0 2px 11px;
}

#blog>aside>#historico ul#historial {
    list-style-type: none;
    margin: 0;
}

#blog>aside>#historico ul#historial>li.anio {
    list-style-image: url(../images/blog/icono-lista-cerrado.png);
    margin: 0 0 3px 0;
}

#blog>aside>#historico ul#historial>li.anio.sel {
    list-style-image: url(../images/blog/icono-lista-abierto.png);
    margin: 0 0 3px 0;
}

#blog>aside>#historico ul#historial>li.anio.sel a {
    color: #000000;
    text-decoration: none;
}

#blog>aside>#historico ul#historial>li.anio.sel a:hover {
    color: #49997d;
    text-decoration: none;
}

#blog>aside>#historico ul#historial>li.anio a {
    color: #000000;
    text-decoration: none;
}

#blog>aside>#historico ul#historial>li.anio a:hover {
    color: #49997d;
    text-decoration: none;
}

#blog>aside>#historico ul#historial>li.anio.sel>ul.meses {
    margin: 0;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses {
    margin: 0;
    display: none;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses.mostrar {
    display: block;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses>li {
    margin: 0;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses>li.mes {
    list-style-image: url(../images/blog/icono-lista-cerrado.png);
    margin: 0 0 3px 0;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses>li.mes.sel {
    list-style-image: url(../images/blog/icono-lista-abierto.png);
    margin: 0 0 3px 0;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses>li.mes>ul.unmes {
    margin: 0;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses>li.mes>ul.unmes {
    margin: 0;
    display: none;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses>li.mes>ul.unmes.mostrar {
    display: block;
}

#blog>aside>#historico ul#historial>li.anio>ul.meses>li.mes>ul.unmes li {
    list-style-image: url(../images/blog/icono-lista-entradas.png);
    margin: 0;
}

#blog #bloger>div.navegacion {
    float: right;
    width: 300px;
    text-align: right;
}

#blog #bloger>div.navegacion ul {
    list-style-type: none;
}

#blog #bloger>div.navegacion li.anterior {
    display: inline-block;
    background-image: url(../images/blog/volver.png);
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
}

#blog #bloger>div.navegacion li.anterior>a {
    color: #000000;
    text-decoration: none;
    padding-left: 20px;
}

#blog #bloger>div.navegacion li.siguiente {
    display: inline-block;
    background-image: url(../images/blog/siguiente.png);
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    margin-left: 30px;
}

#blog #bloger>div.navegacion li.siguiente>a {
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
}

#blog #bloger>div.navegacion li.desactivado {
    display: none;
}

#cursos {
    float: left;
    width: 965px;
    padding: 5px 20px;
}

#cursos>#listado {
    float: left;
    width: 90%;
    margin: 0 30px 0 30px;
    min-height: 433px;
    height: auto !important;
    height: 433px;
}

#cursos>#listado>h2 {
    padding: 0;
    margin: 0 0 6px 0;
    width: 850px;
    background: 15px 0px repeat-x url(../images/cursos/fondo-titulos.png);
}

#cursos>#listado>article {
    clear: both;
    float: left;
    width: 90%;
    margin: 0;
}

#cursos>#listado>article figure {
    float: left;
}

#cursos>#listado>article figure>img {
    width: 135px;
    height: 125px;
}

#cursos>#listado>article div.descripcion {
    float: left;
    text-align: left;
    width: 80%;
    margin-left: 10px;
}

#cursos>#listado>article div.descripcion h3 {
    color: #f99900;
    font-weight: bold;
    font-size: 1.45em;
    line-height: 23px;
    text-align: left;
    padding: 0;
    margin: 0 0 9px 0;
}

#cursos>#listado>article div.descripcion h3 a {
    color: #f99900;
    font-weight: bold;
    text-decoration: none;
}

#cursos>#listado>article div.descripcion h4 {
    font-size: 1.15em;
    line-height: 11px;
    text-align: left;
    padding: 0;
    margin: 0 0 5px 0;
}

#cursos>#listado>article div.descripcion p {
    font-size: 1.1em;
    text-align: left;
    padding: 0;
    margin: 0;
}

#cursos>#listado>article div.descripcion a {
    color: #000000;
    text-decoration: underline;
}

#cursos div.navegacion {
    float: right;
    width: 300px;
    margin-right: 70px;
    text-align: right;
}

#cursos div.navegacion ul {
    list-style-type: none;
}

#cursos div.navegacion li.anterior {
    display: inline-block;
    background-image: url(../images/cursos/anterior.png);
    background-repeat: no-repeat;
    background-position: center left;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
}

#cursos div.navegacion li.anterior>a {
    color: #000000;
    text-decoration: none;
    padding-left: 20px;
}

#cursos div.navegacion li.siguiente {
    display: inline-block;
    background-image: url(../images/cursos/siguiente.png);
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    margin-left: 30px;
}

#cursos div.navegacion li.siguiente>a {
    color: #000000;
    text-decoration: none;
    padding-right: 20px;
}

#cursos div.navegacion li.desactivado {
    display: none;
}

#curso {
    float: left;
    width: 100%;
    padding: 0 40px 0 0;
}

#curso figure {
    float: left;
    width: 280px;
    height: auto;
    margin: 0 20px 0 0;
}

#curso figure>img {
    width: 280px;
    height: 265px;
}

#curso figure>figcaption {
    display: none;
}

#curso article>div.textos {
    float: left;
    width: 560px;
    min-height: 350px;
    height: auto !important;
    height: 350px;
}

#curso article>div.textos h2 {
    font-size: 1.45em;
    color: #f99900;
}

#curso article>div.textos h3 {
    font-size: 1.1em;
    color: #000000;
    margin-left: 8px;
    padding-bottom: 8px;
}

#curso article>div.textos p {
    font-size: 1.1em;
    color: #000000;
    padding-bottom: 8px;
}

#curso article>div.textos p.precio {
    font-size: 1.1em;
    color: #000000;
    padding: 2px 0 2px 5px;
}

#curso article>div.textos a {
    color: #000000;
    text-decoration: underline;
}

#curso article>div.textos strong {
    color: #f99900;
}

#curso article>div.textos p>strong {
    color: #000000;
}

#curso article>div.textos ol {
    padding-left: 10px;
    list-style: inside;
    margin: 0;
}

#curso article>div.textos ol li {
    list-style-type: decimal;
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 2px;
}

#curso article>div.textos ol li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#curso article>div.textos ul {
    list-style-image: url(../images/cursos/icono-lista-cursos.png);
    margin: 0;
}

#curso article>div.textos ul li {
    font-size: 1.1em;
    color: #000000;
    line-height: 18px;
    padding-bottom: 4px;
}

#curso article>div.textos ul li>a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

#curso div.inscripcion {
    float: left;
    width: 150px;
    background-color: #f99900;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
}

#curso div.inscripcion:active {
    float: left;
    width: 150px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
}

#curso div.inscripcion p a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

#curso article>div.textos.reservas {
    float: left;
}

#curso article>div.textos.reservas ol {
    list-style-type: decimal;
}

#curso article>div.textos.reservas ol li {
    display: inline;
    margin: 0 15px 0 0;
    padding: 4px;
    background-color: #efefef;
    font-size: 1em;
    color: #000000;
}

#curso article>div.textos.reservas ol li.sel {
    display: inline;
    margin: 0 15px 0 0;
    padding: 4px;
    background-color: #fccc7f;
}

#curso article>div.textos.reservas .caracteristicas-curso {
    float: left;
    margin: 10px 0;
    font-size: 100%;
    color: #000000;
}

#curso article>div.textos.reservas .caracteristicas-curso h3 {
    font-size: 1.45em;
    color: #000000;
}

#curso article>div.textos.reservas .caracteristicas-curso p {
    padding: 4px 0 4px 10px;
}

#curso article>div.textos.reservas .caracteristicas-curso label {
    font-size: 1.1em;
    padding: 4px 0 6px 10px;
}

#curso article>div.textos.reservas .caracteristicas-curso form {
    padding: 4px 0 6px 10px;
}

#curso article>div.textos.reservas .caracteristicas-curso form input[type='text'] {
    width: 450px;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    font-weight: bold;
    border: 1px solid #fccc7f;
    padding: 3px;
    margin: 0 0 5px 0;
}

#curso article>div.textos.reservas .caracteristicas-curso form input[name='reservado2'] {
    width: 450px;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    font-weight: bold;
    border: 1px solid #ffffff;
    padding: 3px 3px 3px 0;
    margin: 0 0 5px 0;
}

#curso article>div.textos.reservas .caracteristicas-curso form button {
    background-color: #f99900;
    color: #FFFFFF;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    float: left;
    margin: 15px 20px 0 0;
}

#curso article>div.textos.reservas .caracteristicas-curso form button:active {
    background-color: #000000;
    color: #FFFFFF;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    float: left;
    margin: 15px 20px 0 0;
}

#curso article>div.textos.reservas .caracteristicas-curso form div.boton {
    background-color: #f99900;
    color: #FFFFFF;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    float: left;
    margin: 15px 20px 0 0;
}

#curso article>div.textos.reservas .caracteristicas-curso form div.boton:active {
    background-color: #000000;
    color: #FFFFFF;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    float: left;
    margin: 15px 20px 0 0;
}

#curso article>div.textos.reservas .caracteristicas-curso form div.boton a {
    color: #FFFFFF;
    text-decoration: none;
}

#curso article>div.textos.reservas .caracteristicas-curso>p.aviso {
    clear: both;
    font-weight: bold;
    font-style: italic;
}

#curso article>div.textos.reservas .caracteristicas-curso>div.mensajes p {
    clear: both;
    font-size: 0.90em;
    color: #f99900;
    padding: 15px 0 0 10px;
}

#curso article>div.registrocurso {
    float: left;
    width: 560px;
    margin: 0 0 0 300px;
}

#curso article>div.registrocurso .registrarcurso {
    float: left;
    width: auto;
}

#curso article>div.registrocurso .registrarcurso p {
    color: #000000;
    font-size: 0.90em;
    line-height: 14px;
}

#curso article>div.registrocurso .registrarcurso p a {
    color: #f99900;
    text-decoration: none;
}

#registrogeneral {
    width: 48%;
    height: auto;
    margin: 20px auto;
}

#registrogeneral h2 {
    clear: both;
    font-size: 1.25em;
    font-weight: bold;
    color: #9c3403;
    margin-bottom: 5px;
}

#registrogeneral h3 {
    clear: both;
    font-size: 1.20em;
    font-weight: bold;
    color: #9c3403;
    margin: 0 0 5px 8px;
}

#registrogeneral h4 {
    clear: both;
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

#registrogeneral form p {
    clear: both;
    margin-bottom: 8px;
}

#registrogeneral form p>label {
    float: left;
    width: 150px;
    font-size: 1.1em;
    color: #000000;
    padding-top: 4px;
}

#registrogeneral form p input[type='text'],
input[type='password'] {
    width: 300px;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #9c3403;
    padding: 3px;
    box-shadow: 2px 2px 1px #efefef;
}

#registrogeneral form p input[type='text']:hover,
input[type='password']:hover {
    border: 1px solid #000000;
}

#registrogeneral form p.requeridos {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    ;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}

#registrogeneral button {
    background-color: #9c3403;
    color: #FFFFFF;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    float: right;
    margin: 15px 20px 0 0;
}

#registrogeneral button:active {
    background-color: #000000;
}

#registrogeneral .mensajesregistro {
    float: left;
    width: 300px;
    margin: 2px 5px 0px 10px;
    font-size: 0.95em;
    color: #9c3403;
}

#registrogeneral .mensajesrecordar {
    float: left;
    width: 300px;
    margin: 10px 5px 0px 10px;
    font-size: 0.95em;
    color: #9c3403;
}

#registrogeneralmodificar {
    width: 60%;
    height: auto;
    margin: 20px auto;
}

#registrogeneralmodificar h2 {
    clear: both;
    font-size: 1.25em;
    font-weight: bold;
    color: #9c3403;
    margin-bottom: 5px;
}

#registrogeneralmodificar h3 {
    clear: both;
    font-size: 1.20em;
    font-weight: bold;
    color: #9c3403;
    margin: 0 0 5px 8px;
}

#registrogeneralmodificar h4 {
    clear: both;
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

#registrogeneralmodificar form p {
    clear: both;
    margin-bottom: 3px;
}

#registrogeneralmodificar form p>label {
    float: left;
    width: 190px;
    font-size: 1.1em;
    color: #000000;
    padding-top: 4px;
}

#registrogeneralmodificar form p>label>span {
    color: #9c3403;
}

#registrogeneralmodificar form p input[type='text'],
input[type='password'] {
    width: 300px;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #9c3403;
    padding: 3px;
}

#registrogeneralmodificar form p input[type='text']:hover,
input[type='password']:hover {
    border: 1px solid #000000;
}

#registrogeneralmodificar form p.requeridos {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    ;
    font-weight: bold;
    text-align: right;
    padding-right: 100px;
}

#registrogeneralmodificar .botonera {
    width: 85%;
}

#registrogeneralmodificar button {
    background-color: #9c3403;
    color: #FFFFFF;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    float: right;
    margin: 15px 10px 0 0;
}

#registrogeneralmodificar button:active {
    background-color: #000000;
}

#registrogeneralmodificar .mensajesregistro {
    float: left;
    width: 300px;
    margin: 2px 5px 0px 10px;
    font-size: 0.95em;
    color: #9c3403;
}

#registrogeneralmodificar .mensajesrecordar {
    float: left;
    width: 300px;
    margin: 10px 5px 0px 10px;
    font-size: 0.95em;
    color: #9c3403;
}

#contacto {
    float: left;
    width: 965px;
    padding: 0px 20px;
}

#contacto article {
    margin-left: 20px;
}

#contacto figure {
    float: left;
    width: 430px;
    height: auto;
    margin: 10px 0 0 0;
}

#contacto figure img {
    width: 280px;
    height: 265px;
}

#contacto figure>figcaption {
    width: 290px;
    font-size: 1.1em;
    margin-top: 10px;
}

#contacto article>header {
    width: 400px;
}

#contacto article>header h2,
h3 {
    padding: 0;
    margin: 0;
}

#contacto article>header>h2 {
    font-size: 1.75em;
    font-weight: bold;
    color: #5e81a5;
}

#contacto article>header>h3 {
    font-size: 1.40em;
    font-weight: bold;
    color: #5e81a5;
}

#contacto #formulariocontacto {
    float: left;
    width: 480px;
    height: auto;
}

#contacto form p {
    clear: both;
    margin-bottom: 8px;
}

#contacto form p>label {
    float: left;
    width: 115px;
    font-size: 1.1em;
    color: #000000;
    padding-top: 4px;
}

#contacto form p input[type='text'] {
    width: 300px;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #5e81a5;
    padding: 3px;
    box-shadow: 2px 2px 1px #efefef;
}

#contacto form p input[type='password'] {
    width: 300px;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #5e81a5;
    padding: 3px;
    box-shadow: 2px 2px 1px #efefef;
}

#contacto form p input[type='text']:hover,
#contacto form p input[type='password']:hover,
#contacto form p textarea:hover {
    border: 1px solid #000000;
}

#contacto form p textarea {
    width: 300px;
    height: 90px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #5e81a5;
    padding: 3px;
    resize: none;
    box-shadow: 2px 2px 1px #efefef;
}

#contacto form p.requeridos {
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    font-weight: bold;
    text-align: right;
    padding-right: 50px;
}

#contacto button {
    float: right;
    background-color: #5e81a5;
    color: #FFFFFF;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    margin: 15px 50px 0 0;
    border-radius: 20px;
}

#contacto button:active {
    background-color: #000000;
}

#contacto .mensajescontacto {
    float: left;
    width: 300px;
    margin: 2px 5px 0px 10px;
    font-size: 0.95em;
    color: #5e81a5;
}

footer#pie {
    clear: both;
    width: 100%;
    text-align: center;
}

.scrolltop {
    background-image: url(../images/blog/scrolltop.png);
    background-repeat: no-repeat;
    bottom: 10px;
    display: none;
    height: 35px;
    width: 35px;
    /*left:auto;*/
    overflow: hidden;
    padding: 3px 3px;
    position: fixed;
    right: 10px;
    /*top:auto;*/
    z-index: 90;
}

.scrolltop2 {
    background-image: url(../images/foros/scrolltop.png);
    background-repeat: no-repeat;
    bottom: 10px;
    display: none;
    height: 35px;
    width: 35px;
    /*left:auto;*/
    overflow: hidden;
    padding: 3px 3px;
    position: fixed;
    right: 10px;
    /*top:auto;*/
    z-index: 90;
}

#condiciones-devolucion p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
    text-align: left;
    text-indent: 0.5em;
}

#redes_compartir {
    position: relative;
    float: right;
    top: 2px;
    right: -65px;
    border: 1px solid #9c3403;
    background-color: #fefefe;
    display: none;
    padding: 0 10px 0 5px;
    box-shadow: 3px 3px 2px #bbbbbb;
    border-radius: 5px;
}

#redes_compartir .cerrar {
    position: absolute;
    right: 5px;
}

#redes_compartir .cerrar a {
    font-size: 0.85em;
    color: #9c3403;
    text-decoration: none;
    font-weight: bold;
}

#redes_compartir ul {
    clear: both;
    list-style-type: none;
    margin: 7px 0 0 0;
}

#redes_compartir ul li {
    display: inline-block;
    margin: 0px;
    padding: 0 5px 0px 2px;
}

#redes_compartir ul li img {
    border-radius: 3px;
}

#redes_compartir ul li a:hover img {
    -webkit-transform: rotate(7deg) scale(1.2, 1.2);
    transform: rotate(7deg) scale(1.2, 1.2);
}