/* MENU */


/* estos estilos son el menu principal*/

#menu {
    position: relative;
    float: left;
    width: auto;
    height: 40px;
    z-index: 3;
    background-color: #000000;
}

#menu ul {
    list-style-type: none;
    padding-top: 10px;
}

#menu li {
    display: inline;
    padding-left: 14px;
    padding-right: 14px;
    color: #fffffe;
    font-weight: normal;
}

#menu li a {
    color: #fffffe;
    font-weight: normal;
    text-decoration: none;
}

ul#topnav>li>a>img {
    margin-top: -3px;
}

ul#topnav {
    float: left;
    width: auto;
    list-style: none;
    position: relative;
    padding-left: 26px;
}

ul#topnav li {
    float: left;
}

ul#topnav li.error {
    float: left;
    color: #FF0000;
    font-weight: bold;
}

ul#topnav li {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

ul#topnav li.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

ul#topnav li.quienes-somos.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuquienes-somos.png);
    background-repeat: repeat;
}

ul#topnav li.cursos.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenucursos.png);
    background-repeat: repeat;
}

ul#topnav li.recursos.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenurecursos.png);
    background-repeat: repeat;
}

ul#topnav li.foros.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuforos.png);
    background-repeat: repeat;
}

ul#topnav li.blog.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenublog.png);
    background-repeat: repeat;
}

ul#topnav li.videos.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuvideos.png);
    background-repeat: repeat;
}

ul#topnav li.recetas.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenurecetas.png);
    background-repeat: repeat;
}

ul#topnav li.formulas.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuformulas.png);
    background-repeat: repeat;
}

ul#topnav li.contacto.sel {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenucontacto.png);
    background-repeat: repeat;
}

ul#topnav li:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: wait;
}

ul#topnav li.quienes-somos:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuquienes-somos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.cursos:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenucursos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.recursos:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenurecursos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.foros:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuforos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.blog:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenublog.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.videos:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuvideos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.recetas:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenurecetas.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.formulas:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuformulas.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.contacto:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenucontacto.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: wait;
}

ul#topnav li.quienes-somos.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuquienes-somos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.cursos.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenucursos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.recursos.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenurecursos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.foros.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuforos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.blog.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenublog.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.videos.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuvideos.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.recetas.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenurecetas.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.formulas.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenuformulas.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.contacto.sel:hover {
    float: left;
    width: auto;
    height: 28px;
    margin-top: -10px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../img/menu/fondomenucontacto.png);
    background-repeat: repeat;
    cursor: wait;
}

ul#topnav li.social {
    background-image: none;
    cursor: pointer;
}

ul#topnav li.social:hover {
    background-image: none;
    cursor: default;
}

ul#topnav li>ul>li span {
    margin: 0px !important;
    padding: 16px;
    color: #fffffe;
    background-image: none;
}

ul#topnav li>ul>li span+a {
    margin: 0px !important;
    padding: 16px;
    color: #fffffe;
    background-image: none;
}

ul#topnav li>ul>li:hover span {
    color: #f99900;
    cursor: pointer;
    background-image: none;
}

ul#topnav li>ul>li:hover span a {
    color: #f99900;
    cursor: pointer;
    background-image: none;
}

ul#topnav li>ul>li.seleccionado:hover span a {
    color: #f99900;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.quienes-somos>ul>li:hover span {
    color: #9c3403;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.quienes-somos>ul>li:hover span a {
    color: #9c3403;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.quienes-somos>ul>li.seleccionado:hover span a {
    color: #9c3403;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.cursos>ul>li:hover span {
    color: #f99900;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.cursos>ul>li:hover span a {
    color: #f99900;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.cursos>ul>li.seleccionado:hover span a {
    color: #f99900;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.recursos>ul>li:hover span {
    color: #e85420;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.recursos>ul>li:hover span a {
    color: #e85420;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.recursos>ul>li.seleccionado:hover span a {
    color: #e85420;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.foros>ul>li:hover span {
    color: #b2bd34;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.foros>ul>li:hover span a {
    color: #b2bd34;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.foros>ul>li.seleccionado:hover span a {
    color: #b2bd34;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.blog>ul>li:hover span {
    color: #49997d;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.blog>ul>li:hover span a {
    color: #49997d;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.blog>ul>li.seleccionado:hover span a {
    color: #49997d;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.videos>ul>li:hover span {
    color: #6b3b77;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.videos>ul>li:hover span a {
    color: #6b3b77;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.videos>ul>li.seleccionado:hover span a {
    color: #6b3b77;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.recetas>ul>li:hover span {
    color: #0077be;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.recetas>ul>li:hover span a {
    color: #0077be;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.recetas>ul>li.seleccionado:hover span a {
    color: #0077be;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.formulas>ul>li:hover span {
    color: #a8140f;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.formulas>ul>li:hover span a {
    color: #a8140f;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.formulas>ul>li.seleccionado:hover span a {
    color: #a8140f;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.contacto>ul>li:hover span {
    color: #5e81a5;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.contacto>ul>li:hover span a {
    color: #5e81a5;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.contacto>ul>li.seleccionado:hover span a {
    color: #5e81a5;
    cursor: pointer;
    background-image: none;
}

ul#topnav li:hover span {
    cursor: pointer;
}

ul#topnav li {
    display: block;
    color: #fffffe;
    text-decoration: none;
}

ul#topnav li ul {
    position: absolute;
    margin-top: 12px;
    padding-bottom: 8px;
    margin-left: -16px;
    display: none;
    min-width: 200px;
    width: auto !important;
    width: 200px;
    height: auto;
    background-color: #000000;
    z-index: 10;
}

ul#topnav li:hover ul {
    display: block;
}

ul#topnav li ul li {
    clear: both;
    width: 100%;
    padding: 2px;
    margin: 2px;
    display: block;
    color: #fffffe;
    margin-right: 20px;
}

ul#topnav li ul li span {
    padding: 0px;
    margin: 0px;
}

ul#topnav li ul li span a {
    float: left;
    line-height: 22px;
    padding: 2px;
    padding-left: 6px;
    margin: 2px;
    color: #fffffe;
    width: 96%;
}

ul#topnav li ul li span:hover a {
    color: #f99900;
    background-image: none;
}

ul#topnav li.quienes-somos ul li span:hover a {
    color: #9c3403;
    background-image: none;
}

ul#topnav li.cursos ul li span:hover a {
    color: #f99900;
    background-image: none;
}

ul#topnav li.recursos ul li span:hover a {
    color: #e85420;
    background-image: none;
}

ul#topnav li.foros ul li span:hover a {
    color: #b2bd34;
    background-image: none;
}

ul#topnav li.blog ul li span:hover a {
    color: #49997d;
    background-image: none;
}

ul#topnav li.videos ul li span:hover a {
    color: #6b3b77;
    background-image: none;
}

ul#topnav li.recetas ul li span:hover a {
    color: #0077be;
    background-image: none;
}

ul#topnav li.formulas ul li span:hover a {
    color: #a8140f;
    background-image: none;
}

ul#topnav li.contacto ul li span:hover a {
    color: #5e81a5;
    background-image: none;
}

ul#topnav li ul li:hover {
    float: left;
    padding: 2px;
    margin: 2px;
    display: block;
    width: 96%;
    margin-right: 20px;
    background-image: none;
}

ul#topnav li.separador {
    width: 1px !important;
    padding: 0px;
    margin: 0 1px 0 1px;
}

ul#topnav li:last-child ul {
    right: 0px;
}


/* estilo especial para IE8 */

ul#topnav li.ultimo>ul {
    right: 0px;
}

ul#topnav li>ul>li.seleccionado:hover span a {
    color: #f99900;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.sel>ul>li.seleccionado:hover span a {
    color: #f99900;
    cursor: pointer;
}

ul#topnav li.sel>ul>li.seleccionado span a {
    color: #f99900;
    cursor: pointer;
}

ul#topnav li.quienes-somos>ul>li.seleccionado:hover span a {
    color: #9c3403;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.quienes-somos.sel>ul>li.seleccionado:hover span a {
    color: #9c3403;
    cursor: pointer;
}

ul#topnav li.quienes-somos.sel>ul>li.seleccionado span a {
    color: #9c3403;
    cursor: pointer;
}

ul#topnav li.cursos>ul>li.seleccionado:hover span a {
    color: #f99900;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.cursos.sel>ul>li.seleccionado:hover span a {
    color: #f99900;
    cursor: pointer;
}

ul#topnav li.cursos.sel>ul>li.seleccionado span a {
    color: #f99900;
    cursor: pointer;
}

ul#topnav li.recursos>ul>li.seleccionado:hover span a {
    color: #e85420;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.recursos.sel>ul>li.seleccionado:hover span a {
    color: #e85420;
    cursor: pointer;
}

ul#topnav li.recursos.sel>ul>li.seleccionado span a {
    color: #e85420;
    cursor: pointer;
}

ul#topnav li.foros>ul>li.seleccionado:hover span a {
    color: #b2bd34;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.foros.sel>ul>li.seleccionado:hover span a {
    color: #b2bd34;
    cursor: pointer;
}

ul#topnav li.foros.sel>ul>li.seleccionado span a {
    color: #b2bd34;
    cursor: pointer;
}

ul#topnav li.blog>ul>li.seleccionado:hover span a {
    color: #49997d;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.blog.sel>ul>li.seleccionado:hover span a {
    color: #49997d;
    cursor: pointer;
}

ul#topnav li.blog.sel>ul>li.seleccionado span a {
    color: #49997d;
    cursor: pointer;
}

ul#topnav li.videos>ul>li.seleccionado:hover span a {
    color: #6b3b77;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.videos.sel>ul>li.seleccionado:hover span a {
    color: #6b3b77;
    cursor: pointer;
}

ul#topnav li.videos.sel>ul>li.seleccionado span a {
    color: #6b3b77;
    cursor: pointer;
}

ul#topnav li.recetas>ul>li.seleccionado:hover span a {
    color: #0077be;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.recetas.sel>ul>li.seleccionado:hover span a {
    color: #0077be;
    cursor: pointer;
}

ul#topnav li.recetas.sel>ul>li.seleccionado span a {
    color: #0077be;
    cursor: pointer;
}

ul#topnav li.formulas>ul>li.seleccionado:hover span a {
    color: #a8140f;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.formulas.sel>ul>li.seleccionado:hover span a {
    color: #a8140f;
    cursor: pointer;
}

ul#topnav li.formulas.sel>ul>li.seleccionado span a {
    color: #a8140f;
    cursor: pointer;
}

ul#topnav li.contacto>ul>li.seleccionado:hover span a {
    color: #5e81a5;
    cursor: pointer;
    background-image: none;
}

ul#topnav li.contacto.sel>ul>li.seleccionado:hover span a {
    color: #5e81a5;
    cursor: pointer;
}

ul#topnav li.contacto.sel>ul>li.seleccionado span a {
    color: #5e81a5;
    cursor: pointer;
}

ul#topnav li ul li.seleccionado {
    float: left;
    width: 96%;
    height: 28px;
    background-image: none;
}

ul#topnav li ul li.seleccionado span a {
    color: #f99900;
}

ul#topnav li.quienes-somos ul li.seleccionado span a {
    color: #9c3403;
}

ul#topnav li.cursos ul li.seleccionado span a {
    color: #f99900;
}

ul#topnav li.recursos ul li.seleccionado span a {
    color: #e85420;
}

ul#topnav li.foros ul li.seleccionado span a {
    color: #b2bd34;
}

ul#topnav li.blog ul li.seleccionado span a {
    color: #49997d;
}

ul#topnav li.videos ul li.seleccionado span a {
    color: #6b3b77;
}

ul#topnav li.recetas ul li.seleccionado span a {
    color: #0077be;
}

ul#topnav li.formulas ul li.seleccionado span a {
    color: #a8140f;
}

ul#topnav li.contacto ul li.seleccionado span a {
    color: #5e81a5;
}

ul#topnav li.separadormenu {
    float: left;
    width: 1px;
    margin: 0px;
    padding: 0px;
    margin-top: -8px;
    background-image: url(../img/menu/separadormenu.png);
    background-repeat: no-repeat;
}

ul#topnav li.separadormenu:hover {
    float: left;
    width: 1px;
    margin: 0px;
    padding: 0px;
    margin-top: -8px;
    background-image: url(../img/menu/separadormenu.png);
    background-repeat: no-repeat;
}


/* estos son los estilos por defecto */

ul#topnav li.separadormenu2 {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu2.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu2:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu2.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-quienes-somos {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-quienes-somos.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-quienes-somos:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-quienes-somos.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-cursos {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-cursos.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-cursos:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-cursos.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-recursos {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-recursos.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-recursos:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-recursos.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-foros {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-foros.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-foros:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-foros.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-blog {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-blog.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-blog:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-blog.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-videos {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-videos.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-videos:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-videos.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-recetas {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-recetas.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-recetas:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-recetas.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-formulas {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-formulas.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-formulas:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-formulas.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-contacto {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-contacto.png);
    background-repeat: repeat;
}

ul#topnav li.separadormenu-contacto:hover {
    float: left;
    width: 1px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: -10px;
    background-image: url(../img/menu/separadormenu-contacto.png);
    background-repeat: repeat;
}