body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#contenedor {
    font-size: 18px;
    line-height: 25px;
}

#contenedor img {
    clear: both;
}

#cabecera {
    display: none;
}

nav#navegacion {
    display: none;
}

#imprimecomparte {
    display: none;
}

#navegacion,
.navegacion,
#paginacion,
.youtube,
#ultimos,
#historico,
.registrocurso,
.mensajes,
.comentariosdelforo {
    display: none;
}