html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    background: #ffffff top left repeat-y;
}

#body-wrapper {
    background: #ffffff fixed 230px top no-repeat;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff top left no-repeat;
    width: 255px;
    height: 100%;
}

#sidebar #sidebar-wrapper {
    margin: 0 5px 0 5px;
}

#sidebar #sidebar-wrapper>h1 {
    margin: 5px;
    color: #ffffff;
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
}

#sidebar #sidebar-wrapper>h2 {
    color: #000000;
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
    margin: 0 0 15px 0;
}

#sidebar #sidebar-wrapper #menu {
    float: left;
    width: 80%;
    margin: 20px 5px 5px 10px;
}

#sidebar #sidebar-wrapper ul.gestor {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 15px 0 15px 0;
    text-align: center;
}

#sidebar #sidebar-wrapper ul.gestor>li {
    display: inline-block;
    margin: 0 2px 0 2px;
    color: #9c3403;
}

#sidebar #sidebar-wrapper ul.gestor>li a {
    font-size: 1em;
    color: #9c3403;
    text-decoration: none;
}

#sidebar #sidebar-wrapper ul.gestor>li a:hover {
    color: #000000;
    text-decoration: underline;
}

#sidebar #main-nav {
    width: 206px;
    padding: 0;
    margin: 0 0 0 15px;
}

#main-content {
    min-height: 600px;
    margin: 20px 20px 0 260px;
    padding: 20px 20px;
    border: 1px solid #dedede;
    background-color: #fefefe;
}

#main-content>h1 {
    margin: 0 0 10px 0;
    padding: 5px 0 5px 3px;
    color: #000000;
    text-align: left;
    font-size: 1em;
    font-weight: normal;
    background-color: #dedede;
}

#main-content>h2 {
    margin: 0 0 10px 0;
    padding: 5px 0 5px 3px;
    color: #000000;
    text-align: right;
    font-size: 0.90em;
    font-weight: normal;
}

#main-content>h3 {
    margin: 0 0 10px 0;
    padding: 5px 0 5px 3px;
    color: #000000;
    font-size: 0.90em;
    font-weight: normal;
}

#main-content h4 {
    margin: 0 0 10px 0;
    padding: 5px 0 5px 3px;
    color: #000000;
    font-size: 0.90em;
    font-weight: normal;
}

#main-content button {
    float: right;
    margin: 15px 5px 0 10px;
    background-color: #dedede;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 3px 4px #cdcdcd;
}

#main-content .mensajes {
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    margin: 75px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#main-content .mensajegestor {
    width: 90%;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    margin: 75px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#main-content .quienes-somos-imagen {
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#main-content .quienes-somos-imagen img {
    width: 400px;
    height: 380px;
}

#main-content .videos-imagen {
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#main-content .videos-imagen img {
    width: 400px;
    height: 380px;
}

#main-content p.videos {
    margin: 10px 0 0 0;
}

#main-content p.videos input[type='text'] {
    width: 98%;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    padding: 3px;
    margin: 5px 0 5px 0;
}

#main-content .contacto-imagen {
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#main-content .contacto-imagen img {
    width: auto;
    max-width: 100%;
    height: 265px;
}

#main-content .contacto-imagen img.eliminar {
    border: 1px solid #000000;
}

#main-content .contacto-imagen img.eliminar:hover {
    border: 1px solid #dedede;
    opacity: 0.5;
}

#main-content p label {
    width: 98%;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    padding: 3px;
    margin: 5px 0 0 0;
}

#main-content p input[type='text'] {
    width: 98%;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    padding: 3px;
    margin: 5px 0 15px 0;
}

#main-content p select {
    width: 20%;
    height: 25px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    padding: 3px;
    margin: 5px 0 15px 0;
}

#main-content p select.tipocurso {
    width: 35%;
    height: 25px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    padding: 3px;
    margin: 5px 0 15px 0;
}

#main-content p input[type='text'].tipocurso {
    width: 33%;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    padding: 3px;
    margin: 5px 0 15px 0;
}

#main-content p input[type='text'].tipocurso+span {
    background-color: #dedede;
    color: #ffffff;
    padding: 3px;
}

#main-content ol#secciones-web li {
    margin: 5px 0 5px 0;
    padding: 4px;
    cursor: move;
}

#main-content ol#secciones-web li:hover {
    margin: 5px 0 5px 0;
    padding: 4px;
    cursor: move;
    border: 1px solid #000000;
}

#main-content button:active {
    background-color: #ffffff;
}

#main-content a.boton:active {
    background-color: #ffffff;
}

#registrogestor {
    width: 61%;
    height: auto;
    margin: 25px auto;
}

#registrogestor>form {
    margin: 200px auto;
}

#registrogestor>figure>img {
    border: 1px solid #000000;
    max-width: 100%;
    margin: 0 0 10px 0;
    box-shadow: 3px 3px 4px #dedede;
}

#registrogestor>figure>figcaption {
    margin: 0 0 15px 0;
    font-size: 1.1em;
    color: #9c3403;
    font-weight: bold;
}

#registrogestor h2 {
    clear: both;
    font-size: 1.10em;
    font-weight: normal;
    color: #000000;
    margin: 2px 0 12px 0;
}

#registrogestor h3 {
    clear: both;
    font-size: 1.05em;
    font-weight: normal;
    color: #000000;
    margin: 2px 0 8px 0;
}

#registrogestor h4 {
    clear: both;
    font-size: 1em;
    font-weight: normal;
    color: #000000;
    margin: 2px 0 8px 0;
}

#registrogestor form p {
    margin-bottom: 8px;
}

#registrogestor form p>label {
    float: left;
    width: 100px;
    font-size: 1.1em;
    color: #000000;
    padding-top: 4px;
}

#registrogestor form p input[type='text'],
input[type='password'] {
    width: 340px;
    height: 18px;
    font-size: 1.1em;
    color: #000000;
    border: 1px solid #dedede;
    padding: 3px;
}

#registrogestor form p input[type='text']:hover,
input[type='password']:hover {
    border: 1px solid #000000;
}

#registrogestor button {
    background-color: #dedede;
    color: #000000;
    border: 0px;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 15px 6px 15px;
    border-radius: 20px;
    float: right;
    margin: 15px 50px 0 0;
}

#registrogestor button:active {
    background-color: #ededed;
}

#registrogestor .mensajesregistro {
    float: left;
    width: 300px;
    margin: 2px 5px 0px 10px;
    font-size: 0.95em;
    color: #dedede;
}

#registrogestor .mensajesrecordar {
    float: left;
    width: 300px;
    margin: 10px 5px 0px 10px;
    font-size: 0.95em;
    color: #dedede;
}

table.contactos {
    width: 100%;
    border-collapse: separate;
    border: 1px solid #dedede;
    font-size: 1em;
    padding: 0 0 20px 0;
}

table.contactos th.centrado {
    text-align: center;
}

table.contactos th {
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border: 1px solid #dedede;
    background-color: #dedede;
}

table.contactos tr:nth-child(odd) {
    padding: 3px;
    border: 1px solid #dedede;
    background-color: #efefef;
}

table.contactos td {
    padding: 3px;
    border: 1px solid #dedede;
    word-wrap: break-word;
    max-width: 350px;
}

table.contactos td.centrado {
    text-align: center;
    padding: 3px;
    border: 1px solid #dedede;
}

table.contactos td.totales {
    text-align: right;
    padding: 3px 20px 3px 0;
}

table.contactos td>a {
    color: #000000;
    text-decoration: none;
}

table.contactos td>a:hover {
    color: #888888;
    text-decoration: none;
}

.separator {
    width: 100%;
    height: 1px;
    margin: 60px 0 15px 0;
    color: #666666;
    border-top: 1px solid #666666;
}

a.boton {
    float: right;
    margin: 0px 5px 10px 0;
    color: #000000;
    background-color: #dedede;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 3px 4px #cdcdcd;
    text-decoration: none;
}

#main-content table+button {
    margin: 10px 10px 15px 0;
}